dj-database-url==0.4.2
Django==1.11.2
gunicorn==19.7.1
whitenoise==3.3.0
django-crispy-forms==1.6.1
django-filter==1.0.4
django-filters==0.2.1
django-multiselectfield==0.1.7
pytz==2017.2
psycopg2==2.6.1
dj-static==0.0.6