body{
	font-family: 'Lato', sans-serif;
}
.navbar-custom{
	min-height: 50px;
    background-color: white;
    color:#000;
    border-radius:0;
    border-color: #ccc;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-brand {
  padding: 0px;

}
.navbar-brand>img {
  height: 100%;
  padding: 0px 15px;
  width: auto;
}
.full_width {
    width: 100%!important
}
.modal {padding:0!important}

.modal .modal-body {
 height: 100vh;
width: 100vh;
overflow-y: auto;
}

.modal-boy {background-color: white}
.modal {background-color:white}