body{
	font-family: 'Roboto', sans-serif;
    overflow-y: scroll;

}
.navbar-custom{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
	min-height: 75px;
    background-color: white;
    color:#000;
    border-radius:0;
}

.col-lg-2{
  padding-top: 5px;
}

.col-xs-2{
  padding-top: 8px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    color: black;
}

ul.nav li a, ul.nav li a:visited {
    color: #999 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #aa2200 !important;
}


ul.nav li.active a {
    color: #aa2200 !important;
}

.navbar-brand {
  padding: 0px;

}
.navbar-brand>img {
  height: 100%;
  padding: 0px 15px;
  width: auto;
}
.full_width {
    width: 100%!important
}
.modal {padding:0!important}

.modal .modal-body {
    height: 100vh;
    width: 100vh;
    overflow-y: auto;
}


.modal-boy {background-color: white}
.modal {background-color:white}