{% extends 'rango/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block body_block %}
              <div>
		{% if category %}

             <div class="container">

            <div class="col-md-6 col-md-offset-3">

        <h3>Add a Link to {{category.name}}</h3>
            <p class="text-center">Paste the link/tutorial link below.</p>

        <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">

            {% csrf_token %}
             {{ form|crispy }}
            <input class="btn btn-default" type="submit" value="Add Link">
        </form>

		{% else %}
			The specified category does not exist!
		{% endif%}



		</div>
                  </div>

              </div>

{% endblock %}