{% extends 'rango/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block body_block %}
						<div class="container">
							<h2 class="text-center">Find & Share notes and tutorials online with your friends.</h2>
						</br>
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div>
                                 {% if category %}

                                     <h3>{{ category.name }}</h3>

                                    {% if pages %}

                                     <table class="table table-striped">
                                       <thead>
                                         <tr>
                                             <th>File Name</th>
                                             <th>Download Link</th>
                                             <th>Category</th>
                                         </tr>
                                        </thead>
                                          {% for page in pages %}
                                         <tbody>
                                          <tr>
                                            <td>{{ page.title }}</td>
                                              <td><a href="{{ page.url }}">Download</a> </td>
                                                <td>{{ category.name }}</td>
                                          </tr>
                                         </tbody>
                                     {% endfor %}
                                        </table>

                                        {% else %}

									<strong>There are no categories</strong>

                                    {% endif %}

                                     {% else %}

                                         <strong> The specified category does not exist</strong>

                                     {% endif %}

								</div>
							</div>
						</div>
						<div class="alert alert-info" role="alert">
							<h5 class="text-center">
								<strong>Welcome to KLU15.</strong>
							</h5>
							<p class="text-center">Subscribe to our mailing service to be notified as soon as there is something new uploaded here.</p>
						</div>

					</div>
					<div class="navbar navbar-default navbar-fixed-bottom">
						<div class="container">
							<ul class="list-inline navbar-text pull-left">
								<li>
									<a href="">About Us</a>
								</li>
								<li>
									<a href="">Help & FAQ</a>
								</li>
								<li>
									<a href="">Contact Us</a>
								</li>
							</ul>
							<a href="https://www.facebook.com/groups/klu15/" class="navbar-btn btn-primary btn pull-right">Get in touch on Facebook</a>
						</div>
					</div>

{% endblock %}
