    {% extends 'rango/base.html' %}
    {% load crispy_forms_tags %}
    {% load staticfiles %}


    {% block body_block %}
				<div class="container">
					<h2 class="text-center">Find & Share notes and tutorials online with your friends.</h2>
				</br>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div>
                                 {% if categories %}

                                     {% for category in categories %}


							<div class="panel panel-default">
								<div class="panel-body">
									<a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
								</div>
							</div>

                                      {% endfor %}

                                     {% else %}


							<strong>There are no categories</strong>
                                    {% endif %}


						</div>
					</div>
				</div>
				<div class="alert alert-info" role="alert">
					<h5 class="text-center">
						<strong>Welcome to KLU15.</strong>
					</h5>
					<p class="text-center">Subscribe to our mailing service to be notified as soon as there is something new uploaded here.</p>
				</div>
			</div>
			<div class="navbar navbar-default navbar-fixed-bottom">
				<div class="container">
					<ul class="list-inline navbar-text pull-left">
						<li>
							<a href="">About Us</a>
						</li>
						<li>
							<a href="">Help & FAQ</a>
						</li>
						<li>
							<a href="">Contact Us</a>
						</li>
					</ul>
					<a href="https://www.facebook.com/groups/klu15/" class="navbar-btn btn-primary btn pull-right">Get in touch on Facebook</a>
				</div>
			</div>

            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="container">
               <h3 class="text-center">Create a Category</h3>
                 <p class="text-center">Enter the category you want to create.</p>
                    <div class="col-md-6 col-md-offset-3">
                       <form method="POST" action=" ">{% csrf_token %}
                            {{ form|crispy }}
                    <input class="btn btn-default" type="submit" value="submit">
                </form>
              </div>
             </div>
            </div>

{% endblock %}

