{% extends 'rango/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block styles %}
            <link rel="stylesheet" type="text/css" href="{% static "css/cover.css" %}" />

{% endblock %}

{% block body_block %}
     <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div style="margin-top: 10px;" class="panel panel-default">
                    <div class="panel-body">
                        <form method="post" class="login">
                            <h2>Login to KLU15</h2>
                           {% csrf_token %}
                                          {{ form|crispy }}
                            <p>
                                 <button type="submit" class="btn btn-info">Login</button>
                            </p>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="login">
                            <p style="margin-top: 10px;">New to KLU15? <a href="/signup">Sign up now »</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}