{% extends 'rango/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

   {% block styles %}
         <link rel="stylesheet" type="text/css" href="{% static "css/login_desg.css" %}" />
{% endblock %}

 {% block navbar_image %}
                <img src="{% static "images/image.png" %}">
                {% endblock %}

{% block body_block %}

    </br></br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div style="margin-top: 10px;" class="panel panel-default">
                    <div class="panel-body">
                       <form method="post" class="signup">
                           <h2>Sign up for KLU15</h2>
                                        {% csrf_token %}
                                          {{ form|crispy }}
                                <input type="submit" value="Sign Up" class="btn btn-info">
                       </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}