{% extends 'rango/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block body_block %}
    <div class="wrapper">
                 <div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="img-container">
        <img src="{% static "images/klulogo.png" %}" height="250px" width="250px">
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6">
        <h2>Join KLU15</h2>
            <h4><strong>A massive online community of KLU.</strong></h4></br>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Login</button>
  </form>
    </div>
  </div>

                 </div>
    </div>

{% endblock %}